@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #333;
  overflow-x: hidden;
}


/* ===== HERO SECTION ===== */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 10%;
  background: #fff;
}

.hero video {
  width: 45%;
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-content {
  width: 50%;
  text-align: left;
}

.hero-content h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* ===== BOTÃO WHATSAPP ===== */
.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #4185c5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}


.whatsapp-btn:hover {
  background: #2e2cb9;
  transform: scale(1.05);
}

.whatsapp-btn i {
  transition: transform 0.3s;
}

.whatsapp-btn:hover i {
  transform: translateX(4px);
}

/* ===== INFO SECTION ===== */
.info-section {
  padding: 60px 10%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-card {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
  margin: auto;
}

.info-card.show {
  opacity: 1;
  transform: translateY(0);
}

.info-card h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.info-card p {
  color: #555;
  line-height: 1.6;
}

/* ===== FOOTER ===== */
.footer {
    display: flex; /* divide em dois lados */
    align-items: center;
    justify-content: space-between;
    background-color: #abbedb;
    color: #000000;
    padding: 23px 60px;
    flex-wrap: wrap; /* pra ficar responsivo */
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* ===== LADO ESQUERDO - IMAGEM ===== */
.footer-left {
  flex: 1; /* ocupa metade */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img {
  width: 250px;
  border-radius: 260px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* ===== LADO DIREITO - CONTATOS ===== */
.footer-right {
  flex: 1;
  text-align: left;
  padding-left: 40px;
}

.footer-right h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 10px;
}

.footer-right p {
  color: #030303;
  margin-bottom: 5px;
}

/* ===== CONTATO ===== */
.contato {
  margin: 20px 0;
  line-height: 1.8;
}

/* ===== REDES SOCIAIS ===== */

/* ===== DIREITOS AUTORAIS ===== */
.copy {
  font-size: 0.85rem;
  color: #747474;
  margin-top: 25px;
}

.divisao{
    background-color: #7494ec;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* ===== RESPONSIVO ===== */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero video,
  .hero-content {
    width: 100%;
  }

  .hero video {
    margin-top: 30px;
  }
}

    /* HEADER */
    header {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #abbedb;
      box-shadow: 0 2px 8px rgba(0,0,0,0.5);
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .logo {
      font-size: 28px;
      font-weight: bold;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: #333;
      padding: 8px 12px;
      border-radius: 6px;
      transition: 0.3s;
    }

    nav ul li a:hover {
      background: #789ace;
      transform: translateY(-3px);
    }

    .menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

nav ul {
  transition: 0.3s;
}

@media (max-width: 768px) {

  /* botão aparece */
  .menu-btn {
    display: block;
  }

  /* header reorganiza */
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* esconde menu */
  nav ul {
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background: #abbedb;
    flex-direction: column;
    gap: 15px;
    
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: none;
  }

  nav ul li a {
    display: block;
  }

  /* classe ativada pelo JS */
  nav ul.show {
    display: flex;
  }
}


.botao {
  margin-left: auto;
  margin-right: auto;
}


.btn{
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 30px rgba(33, 73, 133, 0.5);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #4185c5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover{
  background: #2e2cb9;
  transform: scale(1.05);
}

.btn:active{
  transition: ease-in-out 3s;
}

.img-container {  
  display: flex;
  justify-content: center;
  gap: 20px;
}


.img-btn {
  max-width: 400px;
  margin: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #4185c5;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.img-btn:hover {
  background: #2e2cb9;
  transform: scale(1.05);
}

/* Esconde o carrossel no desktop */
.mobile-only {
  display: none;
}

/* Mantém suas imagens normais */
.img-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}




/* ===== ATIVA O CARROSSEL APENAS NO MOBILE ===== */
@media (max-width: 768px) {

  /* Esconde as imagens normais */
  .img-container {
    display: none;
  }

  /* Mostra o slider */
  .mobile-only {
    display: block;
  }

  /* ===== CARROSSEL MOBILE ===== */
  .carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }

  .carousel-inner img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
  }

  .prev { left: 10px; }
  .next { right: 10px; }
}
/* ======== MOBILE ONLY ======== */
@media (max-width: 768px) {

  /* esconde as imagens normais */
  .img-container {
    display: none;
  }

  /* mostra carrossel mobile */
  .mobile-only {
    display: block;
  }

  /* ===== CARROSSEL ===== */
  .carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
    touch-action: pan-y;
  }

  .carousel-inner img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }

  /* ===== BOLINHAS ===== */
  .dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    transition: 0.3s;
  }

  .dot.active {
    background: #4185c5;
    transform: scale(1.2);
  }
}

.info-card h3{
  text-align: center;
  font-size: 25px;
}

.info-card p{
  font-size: 16px;
}

/* animação padrão para aparecer */
.info-card,
.img,
.carousel {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.info-card.show,
.img.show,
.carousel.show {
  opacity: 1;
  transform: translateY(0);
}

.img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

  /* animação de entrada (inclui scale padrão = 1) */
  opacity: 0;
  transform: translateY(40px) scale(1);
  transition: opacity 0.8s ease, transform 0.35s ease;
}

.img.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* hover: preserva translateY e só altera scale */
.img:hover {
  transform: translateY(0) scale(1.05);
  /* transição do transform está no .img (0.35s), aqui opcional */
}