@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: Poppins, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background: #e6e6e6;
      color: #333;
    }

    /* HEADER */
    header {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #abbedb;
      box-shadow: 0 2px 8px rgba(0,0,0,0.5);
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .logo {
      font-size: 28px;
      font-weight: bold;  
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: #333;
      padding: 8px 12px;
      border-radius: 6px;
      transition: 0.3s;
    }

    nav ul li a:hover {
      background: #789ace;
      transform: translateY(-3px);
    }

    /* Banner */
    .banner {
      width: 100%;
      height: 150px;
      background: url('https://images.unsplash.com/photo-1622979135225-b3b0111b02a8?q=80&w=1470') center/cover no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #464646;
      text-shadow: 0 2px 6px rgba(0,0,0,0.4);
      font-size: 32px;
      font-weight: bold;
    }

    /* SECTION CARDS */
    .servicos {
      padding: 40px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      max-width: 1100px;
      margin: auto;
    }

    .card {
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 3px 15px rgba(0,0,0,0.07);
      text-align: center;
      transition: 0.3s;
      cursor: pointer;
      min-height: 330px; /* ajuste para o tamanho que achar melhor */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
    

    .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 6px 25px rgba(0,0,0,0.15);
    }


    .card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #fff;
}


.card h4 {
    min-height: 55px; /* altura fixa sem subir para a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
}

.card p {
    font-size: 20px;
    color: #3b3b3b;
    font-weight: bold;
    margin-top: auto; /* empurra para baixo */
}


.footer {
    display: flex; /* divide em dois lados */
    align-items: center;
    justify-content: space-between;
    background-color: #abbedb;
    color: #000000;
    padding: 23px 60px;
    margin-top: 60px;
    flex-wrap: wrap; /* pra ficar responsivo */
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* ===== LADO ESQUERDO - IMAGEM ===== */
.footer-left {
  flex: 1; /* ocupa metade */
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-left img {
  width: 250px;
  border-radius: 260px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* ===== LADO DIREITO - CONTATOS ===== */
.footer-right {
  flex: 1;
  text-align: left;
  padding-left: 40px;
}

.footer-right h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 10px;
}

.footer-right p {
  color: #030303;
  margin-bottom: 5px;
}

/* ===== CONTATO ===== */
.contato {
  margin: 20px 0;
  line-height: 1.8;
}

/* ===== CONTATO ===== */
.contato {
  margin: 20px 0;
  line-height: 1.8;
}

/* ===== REDES SOCIAIS ===== */

/* ===== DIREITOS AUTORAIS ===== */
.copy {
  font-size: 0.85rem;
  color: #747474;
  margin-top: 25px;
}

.divisao{
    background-color: #7494ec;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

/* --- Banner ajusta altura e texto --- */
@media (max-width: 600px) {
  .banner {
    height: 200px;
    font-size: 24px;
    padding: 0 10px;
    text-align: center;
  }
}

/* --- Cards ajustam largura --- */
@media (max-width: 600px) {
  .card img {
    height: 180px;
  }
}


@media (max-width: 900px) {
  .footer {
    flex-direction: column;        /* um embaixo do outro */
    text-align: center;
    padding: 25px;
  }

  .footer-left {
    margin-bottom: 20px;
  }

  .footer-left img {
    width: 180px;
  }

  .footer-right {
    padding-left: 0;
    text-align: center;
  }

  .footer-right h2 {
    font-size: 1.6rem;
  }
}
/* BOTÃO HAMBÚRGUER - escondido no PC */
.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

/* MENU MOBILE */
@media (max-width: 768px) {

  /* botão aparece */
  .menu-btn {
    display: block;
  }

  /* header reorganiza */
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* esconde menu */
  nav ul {
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background: #abbedb;
    flex-direction: column;
    gap: 15px;
    
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: none;
  }

  nav ul li a {
    display: block;
  }

  /* classe ativada pelo JS */
  nav ul.show {
    display: flex;
  }
}

#banho, #tosa, #promocoes, #racoes, #acessorios {
  scroll-margin-top: 90px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.tipo{
  text-align: center;
  width: 100%;
  background-color: #ced7e0;
  padding: 15px 30px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.servicos {
  align-items: stretch;
}